<div class="panel panel-default">
  <div class="panel-heading">
	<div class="row">
		<div class="pull-left col-md-2">
			<h5>
				Edit Category
			</h5>
		</div>

		<div class="pull-right col-md-2">
			<div class="btn-group">
				<%= link_to 'Show', @category, class: 'btn btn-default' %>
				<%= link_to 'Back', categories_path, class: 'btn btn-default' %>
			</div>
		</div>
	</div>
  </div>
  <div class="panel-body">
    <%= render 'form', category: @category %>
  </div>
</div>