<hr>

<div>
	<p class="text-center leave-comment">
		Designed and built with all the love in the world by @Jacky.
	</p>
	<ul class="list-inline text-center">
		<a href="#">
			<li class="fa fa-road pedding-10">about me</li>
		</a>
		<a href="#">
			<li class="fa fa-phone pedding-10">contact</li>
		</a>
		<br>
		<a href="#">
			<li class="fa fa-github pedding-10">github</li>
		</a>
		<a href="#">
			<li class="fa fa-weibo pedding-10">weibo</li>
		</a>
		<a href="#">
			<li class="fa fa-facebook-square pedding-10">facebook</li>
		</a>
	</ul>
</div>